div div{
    background-color: tomato;
}

.c1,.c2{
    color :white;
}

.c2{
    background: skyblue;
}

.container .block{
    color: #fff;
}

/* je selectionne l'element qui a la classe c1 & bloc */

.c1.block{
    background-color: skyblue;
}

/* last-child va selectionner le dernier enfant de son parent que si et seulement si c'est une div */

div div:last-child{
    color :pink;
}

/* div:first-of-type va selectionner le 1er enfant du type div de son parent */

div div:first-of-type{
    color :yellow;
}

input[type="password"]{
    background-color: #64a850;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
}
