section{
    margin: 150px;
}

div{
    width: 220px;
    height: 200px;
    background: tomato;
    display: inline-block;
    transition: transform 450ms;
}
div:nth-child(1){
    background-color: bisque;
}

div:nth-child(1):hover{
    transform: rotate(45deg);
}

div:nth-child(2){
    background-color: yellowgreen;
}

div:nth-child(2):hover{
    transform: scale(1.2, 1.5);
}

div:nth-child(3){
    background-color: #c2c2c2;
}

div:nth-child(3):hover{
    transform: translate(10px, 20px)
}

div:nth-child(4){
    background-color: #ff43ac;
}

div:nth-child(4):hover{
    transform: skew(45deg);
}



















































































































































































































































































































































































































































































































































































































































div:nth-child(3){
    background: #c2c2c2;
}

div:nth-child(4){
    background: #ff43ac;
}